{% extends "layout.html" %}

{% block title %}
    finance
{% endblock %}

{% block main %}
    <div class="section">

        <h2>失敗リスト</h2>
        <table>
            
            <tbody>
                <!-- TODO: Loop through the database entries to display them in this table -->
                {% for f in fails  %}
									<iframe style="padding: 10px; margin-bottom: 10px; border: 5px double #333333; background-color: #ffff99;"
										srcdoc="
										<h2>{{ f.name }}</h2>
										<p>{{ f.content }}</p>
										<h3 style='font-size: 50%;text-align: right;'>{{ f.post_date }}</h3>"
										width="auto"
										height="auto"
									></iframe><br>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
