{% extends "layout.html" %}

{% block title %}
    ホーム
{% endblock %}

{% block main %}
    <div class="section">
				
        <h2>ホーム</h2>
				<div style="width:30%; padding: 10px; margin-bottom: 10px; border: 1px dotted #333333; border-radius: 5px; background-color: #77ec95; color: #ffffff;display: inline-block; _display: inline;">
					<h1>現在のレベル</h1>
					<h1 style="color: #f8f414;font-size: 200%;">Lv.{{level}}</h1>
					<h2 style="font-size: 100%;">レベルアップまであと{{count}}</h2>
				</div>
				<div style="width:30%; padding: 10px; margin-bottom: 10px; border: 1px dotted #333333; border-radius: 5px; background-color: #8bbbfa; color: #ffffff;display: inline-block; _display: inline;">
					<h1>最近の記録</h1>
					<p style="font-size: 200%;">{{ fail.content }}</p>
					<h3 style='font-size: 100%;text-align: right;'>{{ fail.post_date }}</h3>
				</div>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>

        <h2 style="font-size: 300%;color: #755ff1;">これは挑戦する時に失敗に対する苦手意識を</h2>
				<h2 style="font-size: 300%;color: #f1ca5f;">ポジティブなものにするためのアプリケーションです</h2>
    </div>
{% endblock %}
