{% extends "layout.html" %}

{% block title %}
    finance
{% endblock %}

{% block main %}
    <div class="section">

        <h2>失敗リスト</h2>
        <table>
            
            <tbody>
                <!-- TODO: Loop through the database entries to display them in this table -->
                {% for f in fails  %}
									<iframe
										srcdoc="<h2>{{ f.name }}</h2><p>{{ f.content }}</p>"
										
									></iframe><br>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
