{% extends "layout.html" %}

{% block title %}
    finance
{% endblock %}

{% block main %}
    <div class="section">

        <h2>INDEX</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Content</th>
                </tr>
            </thead>
            <tbody>
                <!-- TODO: Loop through the database entries to display them in this table -->
                {% for f in fails  %}
                    <tr>
                        <td>{{ f.name }}</td>
                        <td>{{ f.content }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
